*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "vazirmatn", sans-serif;
    font-weight: 700;
}
body{
    background-color:  #e6ffe8;
    color: black;
    line-height: 1.6;
    direction: rtl;
    font-feature-settings: "ss01";
}
.header{
    background-color: #2f7d6d;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    border-bottom: 2px solid  rgb(139, 139, 139);
    position: relative;
}
.gheymat{
    font-size: 15px;
}
/*style index*/
.clothingBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    max-width: 500px;
    margin: 50px auto;
}
.clothingBoxOf{
    background-color:#2f7d6d;
    height: 200px;
    text-align: center;
    border: 4px solid rgb(0, 0, 0);
    max-width: 400px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    border-radius: 30px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.clothingBoxOf:hover{
    background-color: rgb(156, 231, 206);
    color: rgb(110, 110, 110);
    border-color:rgb(110, 110, 110);
    transform: scale(1.1);
}
.cartpage{
    position: absolute;
    left: 15px;
    top: 17px ;
    font-size: 17px;
    text-decoration: none;
    color: rgb(110, 110, 110);
    background-color:  rgb(156, 231, 206);
    border: 4px solid rgb(110, 110, 110);
    max-width: 100px;
    padding: 13px;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.cartpage:hover{
    transform: scale(1.2);
}
/*style boxe lebasa*/
.boxhaye{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    max-width: 1500px;
    margin: 75px auto;
}
.boxe{
    border-bottom: 4px solid rgb(110, 110, 110);
    height: 310px;
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    border-radius: 30px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.boxe:hover{
    background-color:rgb(156, 231, 206);
    border-color: #2f7d6d;
    transform: scale(1.05);
}
.boxe:hover .add-be-cart{
    opacity: 1;
}
/*style overlay*/
.add-be-cart{
    position: absolute;
    color: #74ccffbd;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center; 
    opacity: 0;
    inset: 0;
    transition: all 0.5s ease;
    pointer-events: none;
    backdrop-filter: blur(3px);
    border-radius: 30px;
}
/*style cart*/
.cartLayout{
    display:flex;
    gap: 25px;
    padding:25px;
}
.itemsList{
    flex: 3;
}
.payment{
    flex:1;
    border: 2px solid rgb(179, 179, 179);
    padding: 15px;
    border-radius: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    margin-left: 100px;
    margin-top: 50px;
}
.cartInfo{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.itemImage{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 60px;
}
.info{
    flex:1;
}
.buttonBox{
    display: flex;
    align-items: center;
    border:2px solid rgb(179, 179, 179);
    overflow: hidden;
    border-radius: 10px;
    margin-left: 350px;
}
.buttonBox button{
    border: none;
    padding: 8px 18px;
    cursor: pointer;
    font-size: 18px;
    background-color: whitesmoke;
}
.check-btn{
    display: block;
    text-decoration: none;
    background-color:  #2f7d6d;
    color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 200px;
    text-align: center;
    margin-top: 10px;
}
.check-btn:hover{
    background-color: rgb(156, 231, 206);
    transform: scale(1.05);
    color: rgb(110, 110, 110);
}
/*style checkout*/
.containere-checkout{
    display: flex;
    gap:20px;
    padding: 30px;
    max-width: 600px;
    margin: auto;
}
.itemhaye-checkout{
    flex:2 ;
    padding: 20px;
    
}
h2{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.itemhaye-checkout div > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.majmoee-gheymat{
    flex: 1.3;
    padding: 20px;
    height: fit-content;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 15px;
    margin-top:67px ;
}
.majmoee-gheymat p{
    margin-bottom: 10px;
    font-size: 15px;
}
.majmoee-gheymat hr{
    margin: 15px ;
}
#pardakht{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #2f7d6d;
    font-size: 16px;
    cursor: pointer;
    color: white;
}
#pardakht:hover{
    background-color: rgb(156, 231, 206);
    transform: scale(1.05);
    color: rgb(110, 110, 110);
}
/*style safhe pardakht*/
.safhe-pardakht{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #2f7d6d;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    transition: all 0.5s ease;
}
.btn.success:hover{
    background-color: rgb(68, 250, 189);
}
.btn.failed:hover{
    background-color: rgb(236, 52, 89);
}
.btn:hover{
    transform: scale(1.15);
    color: whitesmoke;
}
/*style safhe failed*/
.safhe-failed{
    display: flex;   
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 500px;
}
.btn.mojadad:hover{
    background-color: rgb(156, 231, 206);
    color: rgb(110, 110, 110);
}
.btn.safheAsli:hover{
    background-color: rgb(156, 231, 206);
    color: rgb(110, 110, 110);
}
/*style safhe success*/
.safhe-success{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.btn.successSafheAsli:hover{
    background-color: rgb(156, 231, 206);
    color: rgb(110, 110, 110);
}
/*style sabade khali*/
#sabade-khali{
    display: none;
    height: 400px;
    display: flex;   
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(110, 110, 110);
}