*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "vazirmatn", sans-serif;
    font-weight: 700;
}
body{
    background-color: #ececec;
    color: black;
    line-height: 1.6;
    direction: rtl;
    font-feature-settings: "ss01";
}
.header{
    background-color: lightgray;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    border-bottom: 2px solid  rgb(139, 139, 139);
    position: relative;
}
/*style index*/
.boxe-lebasha{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    max-width: 500px;
    margin: 50px auto;
}
.boxe-lebas{
    background-color: ghostwhite;
    height: 200px;
    text-align: center;
    border: 2px solid rgb(179, 179, 179);
    max-width: 400px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    border-radius: 30px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.boxe-lebas:hover{
    background-color: rgb(161, 161, 161);
    color: rgb(240, 215, 177);
    border-color: rgb(240, 215, 177);
    transform: scale(1.1);
}
.cartpage{
    position: absolute;
    left: 15px;
    top: 17px ;
    font-size: 17px;
    text-decoration: none;
    color: black;
    background-color:  ghostwhite;
    border: 2px solid rgb(179, 179, 179);
    max-width: 100px;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.cartpage:hover{
        background-color: rgb(161, 161, 161);
    color: rgb(240, 215, 177);
    border-color: rgb(240, 215, 177);
    transform: scale(1.2);
}
/*style T-shirt*/
.boxe-Tshirtha{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    max-width: 1500px;
    margin: 75px auto;
}
.boxe-Tshirt{
    background-color: ghostwhite;
    height: 300px;
    text-align: center;
    border: 2px solid rgb(179, 179, 179);
    max-width: 500px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    border-radius: 30px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.boxe-Tshirt:hover{
    background-color: rgb(161, 161, 161);
    color: rgb(240, 215, 177);
    border-color: rgb(240, 215, 177);
    transform: scale(1.05);
}
.boxe-Tshirt:hover .add-be-cart{
    opacity: 1;
}
/*style shalvar*/
.boxe-shalvarha{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    max-width: 1500px;
    margin: 75px auto;
}
.boxe-shalvar{
    background-color: ghostwhite;
    height: 300px;
    text-align: center;
    border: 2px solid rgb(179, 179, 179);
    max-width: 500px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    border-radius: 30px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.boxe-shalvar:hover{
    background-color: rgb(161, 161, 161);
    color: rgb(240, 215, 177);
    border-color: rgb(240, 215, 177);
    transform: scale(1.1);
}
.boxe-shalvar:hover .add-be-cart{
    opacity: 1;
}
/*style hoodie*/
.boxe-hoodieha{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    max-width: 1500px;
    margin: 75px auto;
}
.boxe-hoodie{
    background-color: ghostwhite;
    height: 300px;
    text-align: center;
    border: 2px solid rgb(179, 179, 179);
    max-width: 500px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    border-radius: 30px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.boxe-hoodie:hover{
    background-color: rgb(161, 161, 161);
    color: rgb(240, 215, 177);
    border-color: rgb(240, 215, 177);
    transform: scale(1.1);
}
.boxe-hoodie:hover .add-be-cart{
    opacity: 1;
}
/*style kafsh*/
.boxe-kafsha{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    max-width: 1500px;
    margin: 75px auto;
}
.boxe-kafsh{
    background-color: ghostwhite;
    height: 300px;
    text-align: center;
    border: 2px solid rgb(179, 179, 179);
    max-width: 500px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    border-radius: 30px;
    transition: all 0.5s ease;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}
.boxe-kafsh:hover{
    background-color: rgb(161, 161, 161);
    color: rgb(240, 215, 177);
    border-color: rgb(240, 215, 177);
    transform: scale(1.1);
}
.boxe-kafsh:hover .add-be-cart{
    opacity: 1;
}
/*style overlay*/
.add-be-cart{
    position: absolute;
    background-color: rgba(161, 161, 161, 0.15);
    color: rgb(206, 175, 130);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center; 
    opacity: 0;
    inset: 0;
    transition: all 0.5s ease;
    pointer-events: none;
    backdrop-filter: blur(3px);
    border-radius: 30px;
}
/*style cart*/
.chidemane-cart{
    display:flex;
    gap: 25px;
    padding:25px;
}
.liste-mahsolat{
    flex: 3;
}
.tasvie{
    flex:1;
    border: 2px solid rgb(179, 179, 179);
    padding: 15px;
    border-radius: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
}
.sabad-info{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.akse-mahsolat{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-left: 20px;
}
.info{
    flex:1;
}
.boxe-button{
    display: flex;
    align-items: center;
    border:2px solid rgb(179, 179, 179);
    overflow: hidden;
    border-radius: 10px;
}
.boxe-button button{
    border: none;
    padding: 8px 18px;
    cursor: pointer;
    font-size: 18px;
}
.sorat-hesab-btn{
    display: block;
    text-decoration: none;
    background-color: blanchedalmond;
    color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 200px;
    text-align: center;
    margin-top: 10px;
}
.sorat-hesab-btn:hover{
    background-color: rgb(196, 163, 113);
    transform: scale(1.05);
    color: white;
}